body {
  background-color: #e0e0e0;
}
.calculator {
  width: 300px;
  border-radius: 15px;
  background-color: #ffffff;
}
button {
  height: 60px;
  font-size: 1.5rem;
  border-radius: 10px;
}
#display {
  height: 60px;
  border-radius: 10px;
}